:root {
  --bg: #CEB5A7;
  --color: #3D52D5;
  --color-text: #fff;
  --btn-bg: #1B998B;
  --yellow: #ffff00;
  --heart: #ff001e;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 2rem;
  display: grid;
  place-content: center;
  gap: 2rem;
  row-gap: 4rem;
  background: var(--bg);
  font: 2rem/1.2 "Wendy One", sans-serif;
  color: var(--color);
  height: 100vh;
}

h2 {
  font: 4rem/1.2 "Frijole", system-ui;
  text-align: center;
  margin: 0 0 1em;
  text-transform: uppercase;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.btn {
  border: 0;
  background: var(--btn-bg);
  border-radius: 0.4em;
  font-size: 2rem;
  line-height: 1;
  color: var(--color-text);
  padding: 0.5em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  aspect-ratio: 1 / 1;
  position: relative;
}

.btn svg {
  width: 1.4em;
  height: 1.4em;
}

.btn__icon-heart {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  opacity: 0;
  color: var(--heart);
  transform: translate(-50%, -50%) scale(0);
}

.btn.activated .btn__icon-heart {
  animation: scaleFade 0.5s forwards;
}

@keyframes scaleFade {
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.5);
  }
}

.btn__icon-star {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  opacity: 0;
  color: var(--yellow);
  visibility: hidden;
  transform: translate(-50%, -50%) scale(4);
}

.btn.activated .btn__icon-star {
  visibility: visible;
  animation: dropDown 0.3s forwards;
}

@keyframes dropDown {
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}