:root {
  --bg: #9DFFF9;
  --color: #DF826C;
  --color-text: #fff;
  --btn-bg: #8D80AD;
  --cargo-background: #64F58D;
  --animation-time: 2s;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 2rem;
  display: grid;
  place-content: center;
  gap: 2rem;
  row-gap: 4rem;
  background: var(--bg);
  font: 2rem/1.2 "Wendy One", sans-serif;
  color: var(--color);
  height: 100vh;
}

h2 {
  font: 700 4rem/1.2 "Angkor", serif;
  text-align: center;
  margin: 0 0 1em;
  text-transform: uppercase;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.d-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.btn {
  border: 0;
  background: var(--btn-bg);
  border-radius: 0.4em;
  font-size: 2rem;
  color: var(--color-text);
  padding: 0.6em 1em;
  text-transform: uppercase;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  cursor: pointer;
  overflow: hidden;
  font-family: inherit;
}

.btn svg {
  width: 1.4em;
  height: 1.4em;
  color: var(--color-text);
}

.btn.activated {
  animation: fadeOutText var(--animation-time) linear;
}

.btn.activated .icon-cargo {
  animation: cargo var(--animation-time) linear;
}

.btn.activated svg {
  animation: moveToRight var(--animation-time) linear;
}

@keyframes fadeOutText {
  10%,
  80% {
    color: transparent;
  }

  100% {
    color: var(--color-text);
  }
}

@keyframes cargo {
  10%,
  84% {
    fill: transparent;
  }

  30%,
  83% {
    fill: var(--cargo-background);
  }
}

@keyframes moveToRight {
  10% {
    transform: translateX(5rem);
  }

  50% {
    transform: translateX(5rem);
  }

  80% {
    transform: translateX(25rem);
  }

  81% {
    opacity: 1;
    transform: translateX(25rem);
  }

  82% {
    opacity: 0;
    transform: translateX(25rem);
  }

  83% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  84% {
    opacity: 1;
    transform: translateX(-10rem);
  }

  100% {
    transform: translateX(0);
  }
}